@font-face {
	font-family: 'Euclid';
	src: URL('./assets/euclid.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Euclid', sans-serif;
	background-color: #1a2744;
	color: aliceblue;
}

#root{
	border-top: 3px solid #676bdc;
}
.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	justify-content: space-between;
}

.blog-add-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-item {
	margin: 10px;
}

tbody[role="rowgroup"] > tr[role="row"] > td:last-child {
	text-align: center;
}

.blog-spinner {
	margin-top: 50%;
	margin-left: 50%;
}

.spinner-animation {
	width: 100px;
	height: 100px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.action-buttons{
	display: flex;
	gap: 5px;
	background-color: #374151;
}
.btn-info {
	color: white !important;
	background-color: #45adff !important;
}
.cursive {
	font-family: 'Dancing Script', cursive;
	font-size: 1.2em;
}
.blue {
	color: #42b6f3;
}
.mleft-10 {
	margin-left: 10px !important;
}

a:link {
	text-decoration: none;
}

footer {
	text-align: center;
}