@font-face {
  font-family: "Euclid";
  src: URL("./assets/euclid.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Euclid", sans-serif;
  background-color: #25201d;
  color: aliceblue;
}

#root {
  border-top: 3px solid #676bdc;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
}

.blog-add-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-item {
  margin: 10px;
}

tbody[role="rowgroup"] > tr[role="row"] > td:last-child {
  text-align: center;
}

.blog-spinner {
  margin-top: 50%;
  margin-left: 50%;
}

.spinner-animation {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.action-buttons {
  display: flex;
  gap: 5px;
  background-color: #374151;
}
.btn-info {
  /* color: white !important; */
  background-color: #1cdeca !important;
}
.btn-primary {
  background-color: #676bdc !important;
}
.cursive {
  font-family: "Dancing Script", cursive;
  font-size: 1.2em;
}
.blue {
  color: #f59cb9;
}
.mleft-10 {
  margin-left: 10px !important;
}

a:link {
  text-decoration: none;
}

footer {
  text-align: center;
}

.add-btn {
  display: block !important;
  margin: auto !important;
  margin-bottom: 30px !important;
  margin-top: -80px !important;
}
.back-home-btn {
  display: block !important;
  margin: auto !important;
  margin-top: -80px !important;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
  animation-name: shake;
  animation-duration: 0.25s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.pagination > * {
	margin: 10px 3px;
	/* padding: 0 3px; */
	/* height: 2rem; */
	min-width: 2rem;
	border-radius: 4px;
}

.pagination {
	justify-content: center;
	align-items: center;
}

#pagination-select {
	width: 8rem;
}

.pagination > button {
	width: 2.5rem;
}