#root {
	border-top: 5px solid #42b6f3;
	height: 100vh;
	overflow: hidden;
}

.align-items-center {
	align-items: center;
}

.flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.space-evenly {
	justify-content: space-evenly;
}

.space-around {
	justify-content: space-around;
}

.space-between {
	justify-content: space-between;
}

.blue {
	color: #42b6f3;
}

.p-5 {
	padding: 0.5em;
}

.mt-10 {
	margin-top: 10px;
}

.mr-1 {
	margin-right: 1px;
}

.mb-10 {
	margin-bottom: 10px;
}

.flex-direction-col {
	flex-direction: column;
}

.medium-font-weight {
	font-weight: 500;
}

.text-align-center {
	text-align: center;
}

.no-txt-decor {
	text-decoration: none;
}

.black {
	color: black;
}

.blue-on-hover:hover {
	color: #42b6f3;
	transition: all 0.2s ease;
}

.light-text-color {
	color: #818181;
}

.blog > div {
	margin-top: 10px;
	margin-bottom: 10px;
}

.blog {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 1em;
}

.light-font-weight {
	font-weight: lighter;
}

.date-font {
	line-height: 1;
	font-size: 13px;
}

.btn-read-more {
	display: inline-block;
	font-weight: 500;
	padding: 0 20px;
	border-radius: 18px;
	height: 36px;
	line-height: 36px;
	font-size: 13px;
}

.btn-light {
	color: #a5a5a5;
	border: 1px solid #b9b9b9;
	background-color: #ecf2ff;
}

.btn-dark {
	color: #42b6f3;
	border: 1px solid #42b6f3;
	background-color: transparent;
}

.btn-read-more:hover {
	border-color: #2b98d3;
	color: #2b98d3;
	transition: all 0.2s ease;
}

.large-margin {
	margin: 30px;
}

.theme-icon {
	border: none;
	background: none;
}

header a {
	text-decoration: none;
}

footer a {
	text-decoration: none;
}

.italic {
	font-style: italic;
}

footer {
	font-size: 0.85em;
	height: 5%;
}

footer > p {
	padding: 15px 0 10px 30px;
}

.cursive {
	font-family: 'Dancing Script', cursive;
	font-size: 1.5em;
}

.ml-2 {
	margin-left: 2px;
}

.home-link {
	color: inherit;
}

.full-vh {
	height: 100vh;
}

.mt-10n {
	margin-top: -10px;
}

.fa-sun {
	color: #ecf2ff;
}

.white {
	color: white;
}

.grid,
.header {
	display: grid;
}

header {
	grid-template-columns: 1fr 1fr;
	height: 8%;
}

.justify-content-end {
	justify-content: flex-end;
}

.header > div:nth-child(2) {
	justify-self: end;
	align-self: center;
}

.header > div:nth-child(2) > p:nth-child(1) {
	display: inline-block;
}

.theme-icon {
	margin-right: 2.5em;
}

.header > div:nth-child(2) > p:nth-child(1) {
	margin-right: 1.5em;
}

.home-link {
	margin-left: 2.5em;
}

.ml-2-5em {
	margin-left: 2.5em;
}

.ml-1-5em {
	margin-left: 1.5em;
}

#blog-section {
	/* grid-template-columns: 3fr 4fr; */
	flex-direction: 'row';
	overflow: 'hidden';
}

.justify-self-start {
	justify-self: start;
}

.align-self-end {
	align-self: start;
}

.blog-link {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.vertical-scroll {
	scrollbar-width: thin;
	scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
	overflow-y: auto;
}

/* .vertical-scroll-blog-post {
	scrollbar-width: thin;
	scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
	overflow-y: auto;
} */
/* .blog-content,
.vertical-scroll:hover,
.vertical-scroll:focus {
	visibility: visible;
} */

.blogs {
	/* height: 85vh; */
	padding-right: 1em;
}

.blog-post {
	height: 100%;
	padding: 1em 1em 0 1em;
	flex-grow: 1;
	min-width: 40%;
}

.all-blogs {
	min-width: 30%;
}

.gutter {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	cursor: col-resize;
}

.gutter.gutter-vertical {
	cursor: row-resize;
}

.blog-post-header {
	align-items: center;
	justify-content: space-between;
}

.content {
	flex-direction: column;
	height: 100vh;
}

.page-content {
	height: 85%;
}

.xcircle-icon {
	display: none;
}

.blog-post:hover .xcircle-icon,
.blog-post:focus .xcircle-icon {
	display: inline-block;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.5);
	border-radius: 20px;
	border: transparent;
}

.blog-post-container {
	padding: 1.5rem 0 1.5rem 0;
	height: 100%;
	overflow-y: hidden;
	border-radius: 8px;
}

.blog-post-inner-container {
	padding: 0 1.5rem 0 1.5rem;
	overflow-y: hidden;
	height: 100%;
	scrollbar-width: none;
	scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
	white-space: pre-wrap;
}
.blog-post-font {
	font-family: 'Vollkorn', serif;
}
.blog-post-inner-container:hover {
	overflow-y: auto;
}

.blog-post-inner-container::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.welcome-illustration {
	height: 300px;
	width: 300px;
}

.not-found-illustration {
	height: 350px;
	width: 350px;
}

/* .pagination-list {
	justify-content: space-evenly;
} */

.pagination {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-bottom: 10rem; */
	font-size: 1rem;
	gap: 5px;
}

.pagination .page-num {
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 400;
	background-color: #343a46e9;
	transition: all 0.3s ease-in;
}

.pagination .page-num-active {
	background-color: #2b98d3f5;
}
